extends ../layout.pug

block content
    h1 #{title}
    ul
        each goal in items
            li
                span #{goal.subject}
                a(href=editurl(goal._id))
                    span(class="glyphicon glyphicon-edit")
                a(href=deleteurl(goal._id))
                    span(class="glyphicon glyphicon-remove")
    form(action=createurl, method='POST')
        each property in properties
            input(type='text', placeholder=property.description, name=property.name)
        button(type="submit") Add

